@blue: #040147;

#history {
  #intro-section {
    background-image: url(/img/scotland_map_cloth_blur.png);
  }
  paper-tabs.white paper-tab {
    background: @blue;
    color: #fff;
  }
  paper-tabs.white::shadow #selectionBar {
    background-color: #fff;
  }
  paper-tabs.white paper-tab::shadow #ink {
    color: #fff;
  }
  paper-tabs.gray::shadow #selectionBar {
    background-color: @blue;
  }
  paper-tabs.gray paper-tab::shadow #ink {
    color: @blue;
  }
  paper-tabs.gray paper-tab {
    background: #ddd;
  }
  p {
    font-size: 16px;
  }
  #sidenav {
    padding-top: 20px;
    li {
      a {
        color: #666;
        font-weight: bold;
        &:hover {
          border-left: 1px solid @blue;
          padding-left: 14px;
        }
      }
      &.active a {
        color: @blue;
        border-left: 3px solid @blue;
        padding-left: 12px;
      }
    }
  }
}