

.btn-large {
  font-size: 21px;
  line-height: 36px;
  padding: 12px 24px;
}

.btn-default {
  color: #232323;
  &:hover {
    color: #232323;
  }
}
.btn:not(.btn-default) {
  color: rgba(255,255,255,.84);
  &:hover, &:focus, &.focus {
    color: #fff;
  }
}

.navbar-default {
  background-color: rgba(35,35,35,0.5);
  border: none;
  transition: background-color 400ms;
  &.transparent {
    background-color: transparent;
  }
  &.scrolled {
    background-color: rgba(35,35,35,1);
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-brand,
.navbar .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
  transition: all 400ms;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  &:hover {
    border-bottom: 2px solid #fff;
  }
}
.navbar-default .navbar-brand {
  z-index: 900;
  font-family: 'cloister', cursive;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  padding: 15px;
}
.navbar-default .navbar-nav > .active > a {
  color: #000;
  font-weight: bold;
  background: rgba(255,255,255,0.5);
  border-bottom: 2px solid #fff;
}


button.navbar-toggle {
  background: none;
}