@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

@import "/client/stylesheets/variables.less";

// @footer-height: 100px;

@font-face {
  font-family: 'cloister';
  src: url('/fonts/cloisterblack/cloisterblack-webfont.eot');
  src: local('☺︎'),
         url('/fonts/cloisterblack/cloisterblack-webfont.ttf') format('truetype');
}

html, body
{
  position: relative;
}

*:focus {
  color: inherit;
}

.layout {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

.initial-capital::first-letter {
  font-family: 'cloister';
  font-size: 30px;
}

.text-align-center {
  text-align: center;
}

.main-bg {
  background: #040147;
  background: -moz-linear-gradient(-45deg,  #040147 0%, #023411 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#040147), color-stop(100%,#023411));
  background: -webkit-linear-gradient(-45deg,  #040147 0%,#023411 100%);
  background: -o-linear-gradient(-45deg,  #040147 0%,#023411 100%);
  background: -ms-linear-gradient(-45deg,  #040147 0%,#023411 100%);
  background: linear-gradient(135deg,  #040147 0%,#023411 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040147', endColorstr='#023411',GradientType=1 );

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* ========== INTRO ========== */

#intro-section {
  width: 100%;
  z-index: 1;
  color:white;
  background-color: #010101;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0 140px 0;

  h1 {
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 62px;
    line-height: 62px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    clear: both;
    display: block;
  }
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
    clear: both;
    display: block;
    text-transform: uppercase;
  }
}
.intro-well {
  text-align: center;
  position: relative;
  z-index: 100;
  padding-top: 70px;
}
figure {
  text-align: center;
}
figcaption {
  font-style: italic;
}
blockquote {
  p:before {
    content: "\201c";
    font-size: 36px;
    line-height: 26px;
    margin-right: 10px;
  }
  p:after {
    content: "\201d";
    font-size: 36px;
    line-height: 26px;
    margin-left: 10px;
    position: absolute;
  }
  /* ========== FOOTER ========== */
  footer {
    background: #34495e;
    color: #fff;
    text-align: center;
  }
  footer p {
    font-size: 15px;
    line-height: 20px;
  }
}
img {
  &.margin-right-10 {
    margin-right: 10px;
  }
  &.margin-bottom-10 {
    margin-bottom: 10px;
  }
  &.margin-left-10 {
    margin-left: 10px;
  }
  &.margin-top-10 {
    margin-top: 10px;
  }
}

.gallery-wrapper {
  font-size: 0;
  li {
    width: 24%;
    margin: 0.5%;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    box-shadow: none;
    float: none;
  }
}
@media (max-width: 768px) {
  .gallery-wrapper {
    li {
      width: 49%;
    }
  }
}


footer, .push {
	clear: both;
}

footer, .push
{
	// height: @footer-height;
  padding: 25px 0;
}

button.navbar-toggle {
  background: inherit;
}

.navbar {
   margin-left: 0;
 }

.read-more {
  margin: 10px 0;
}

/*======== POLYMER ========*/
[unresolved] {
  opacity: 0;
}