@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

@import "/client/stylesheets/variables.less";

// @footer-height: 100px;

@font-face {
  font-family: 'cloister';
  src: url('/fonts/cloisterblack/cloisterblack-webfont.eot');
  src: local('☺︎'),
         url('/fonts/cloisterblack/cloisterblack-webfont.ttf') format('truetype');
}

html, body
{
	height:100%;
}

.layout {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

p:first-of-type::first-letter {
  font-family: 'cloister';
  font-size: 30px;
}


footer, .push {
	clear: both;
}

footer, .push
{
	// height: @footer-height;
  padding: 25px 0;
}

button.navbar-toggle {
  background: inherit;
}

.navbar {
   margin-left: 0;
 }

.read-more {
  margin: 10px 0;
}