<template name="about">
  <div class="main-bg fixed"></div>
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <section class="about-section">
            <header>
              <p>Section 1</p>
            </header>
            <core-collapse opened="true">
              <p>
                We were born all over the country, but settled in Texas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, dignissim eget mollis et, luctus non lorem. Ut sagittis tellus id lorem laoreet dignissim. Etiam eget sapien faucibus metus efficitur viverra. Donec venenatis arcu vel nulla fermentum, eget porttitor purus mattis. Mauris accumsan et purus eget auctor. Vestibulum dignissim libero quis odio accumsan elementum. Sed sed blandit leo, maximus finibus felis.
              </p>
              <p>
                Suspendisse non justo molestie, tempor mauris id, ultricies turpis. Etiam et ex a massa egestas laoreet. Cras rutrum consectetur nunc, sed efficitur augue vulputate eu. Mauris sit amet venenatis nulla, ac aliquam neque. Donec pellentesque est ac lacus iaculis imperdiet. Donec sit amet aliquet arcu, sit amet vulputate odio. Vestibulum vehicula ante ex, vitae mattis nunc accumsan eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce metus ligula, maximus in viverra non, ullamcorper et nisl. Maecenas sed erat tincidunt, accumsan libero ut, blandit ante. In eu sem ac mauris consequat porta nec sed nulla. In mollis lobortis mauris sit amet commodo.
              </p>
            </core-collapse>
          </section>
          <section class="about-section">
            <header>
              <p>Section 2</p>
            </header>
            <core-collapse>
              <p>
                We were born all over the country, but settled in Texas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, dignissim eget mollis et, luctus non lorem. Ut sagittis tellus id lorem laoreet dignissim. Etiam eget sapien faucibus metus efficitur viverra. Donec venenatis arcu vel nulla fermentum, eget porttitor purus mattis. Mauris accumsan et purus eget auctor. Vestibulum dignissim libero quis odio accumsan elementum. Sed sed blandit leo, maximus finibus felis.
              </p>
              <p>
                Suspendisse non justo molestie, tempor mauris id, ultricies turpis. Etiam et ex a massa egestas laoreet. Cras rutrum consectetur nunc, sed efficitur augue vulputate eu. Mauris sit amet venenatis nulla, ac aliquam neque. Donec pellentesque est ac lacus iaculis imperdiet. Donec sit amet aliquet arcu, sit amet vulputate odio. Vestibulum vehicula ante ex, vitae mattis nunc accumsan eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce metus ligula, maximus in viverra non, ullamcorper et nisl. Maecenas sed erat tincidunt, accumsan libero ut, blandit ante. In eu sem ac mauris consequat porta nec sed nulla. In mollis lobortis mauris sit amet commodo.
              </p>
            </core-collapse>
          </section>
          <section class="about-section">
            <header>
              <p>Section 3</p>
            </header>
            <core-collapse>
              <p>
                We were born all over the country, but settled in Texas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, dignissim eget mollis et, luctus non lorem. Ut sagittis tellus id lorem laoreet dignissim. Etiam eget sapien faucibus metus efficitur viverra. Donec venenatis arcu vel nulla fermentum, eget porttitor purus mattis. Mauris accumsan et purus eget auctor. Vestibulum dignissim libero quis odio accumsan elementum. Sed sed blandit leo, maximus finibus felis.
              </p>
              <p>
                Suspendisse non justo molestie, tempor mauris id, ultricies turpis. Etiam et ex a massa egestas laoreet. Cras rutrum consectetur nunc, sed efficitur augue vulputate eu. Mauris sit amet venenatis nulla, ac aliquam neque. Donec pellentesque est ac lacus iaculis imperdiet. Donec sit amet aliquet arcu, sit amet vulputate odio. Vestibulum vehicula ante ex, vitae mattis nunc accumsan eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce metus ligula, maximus in viverra non, ullamcorper et nisl. Maecenas sed erat tincidunt, accumsan libero ut, blandit ante. In eu sem ac mauris consequat porta nec sed nulla. In mollis lobortis mauris sit amet commodo.
              </p>
            </core-collapse>
          </section>
          <section class="about-section">
            <header>
              <p>Section 4</p>
            </header>
            <core-collapse>
              <p>
                We were born all over the country, but settled in Texas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, dignissim eget mollis et, luctus non lorem. Ut sagittis tellus id lorem laoreet dignissim. Etiam eget sapien faucibus metus efficitur viverra. Donec venenatis arcu vel nulla fermentum, eget porttitor purus mattis. Mauris accumsan et purus eget auctor. Vestibulum dignissim libero quis odio accumsan elementum. Sed sed blandit leo, maximus finibus felis.
              </p>
              <p>
                Suspendisse non justo molestie, tempor mauris id, ultricies turpis. Etiam et ex a massa egestas laoreet. Cras rutrum consectetur nunc, sed efficitur augue vulputate eu. Mauris sit amet venenatis nulla, ac aliquam neque. Donec pellentesque est ac lacus iaculis imperdiet. Donec sit amet aliquet arcu, sit amet vulputate odio. Vestibulum vehicula ante ex, vitae mattis nunc accumsan eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce metus ligula, maximus in viverra non, ullamcorper et nisl. Maecenas sed erat tincidunt, accumsan libero ut, blandit ante. In eu sem ac mauris consequat porta nec sed nulla. In mollis lobortis mauris sit amet commodo.
              </p>
            </core-collapse>
          </section>
        </div>
      </div>
    </div>
    
  </div>
</template>