<template name="album">
  <div class="main-bg fixed"></div>
  <section id="gallery" class="layout-section">
    <div class="container">
      <header class="clearfix">
        <h1 class="pull-left">{{name}}</h1>
      </header>
      <div class="row">
        <div class="col-xs-12">
          <ul id="links" class="gallery-wrapper da-thumbs">
            <li>
              <a href="/img/img1.jpg" data-gallery>
                <img src="/img/img1.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Our home in Rockett, TX</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img2.jpg" data-gallery>
                <img src="/img/img2.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Family Reunion: Jim and Kathy</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img3.jpg" data-gallery>
                <img src="/img/img3.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Family Reunion: Jim and Josh</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img4.jpg" data-gallery>
                <img src="/img/img4.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Wedding: Josh and Lori</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img5.jpg" data-gallery>
                <img src="/img/img5.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Jim and his grandson</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img6.jpg" data-gallery>
                <img src="/img/img6.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Wedding: Josh and Lori</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img7.jpg" data-gallery>
                <img src="/img/img7.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Brian and his family</span></div>
              </a>
            </li>
            <li>
              <a href="/img/img8.jpg" data-gallery>
                <img src="/img/img8.jpg" alt="" class="img-responsive img-thumbnail"/>
                <div><span>Four generations</span></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>