<template name="home">
	<section id="intro">
		<div class="container">
			<div class="intro-well wow animated bounceIn">
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<h1>{{Config.title}}</h1>
						<h2 style="color:white;">{{Config.subtitle}}</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="history" class="layout-section">
		<div class="container wow fadeIn animated">
			<header class="clearfix">
				<h1>Clan Dixon</h1>
				<h2>Fortes Fortuna Juvat</h2>
			</header>
			<div class="row">
				<div class="col-md-6">
					<img src="/img/dixon_coat_of_arms.gif" alt="" class="img-thumbnail img-responsive">
				</div>
				<div class="col-md-6">
					<p>The Dickson/Dixon (and other derivates) family name was first found in Scotland. Early records show Thomas Dicson, a follower of the Douglas clan, at the capture of Castle Douglas in 1307. </p>
					<p>Although the name was Scottish in it's origin, with the spelling of Dicson or Dickson (the most common usage in Scotland today), being a Borders counties name it also spread to the north and midlands of England to become a popular family name with the spelling of Dixon. </p>
					<p>The ancient family motto is said to be "Fortes Fortuna Juvat", which is Latin for "Fortune Favors the Brave". </p>
					{{> readMore text="Read More" path="#"}}
				</div>
			</div>
		</div>
	</section>
	<section id="aboutUs" class="layout-section">
		<div class="container wow fadeIn animated">
			<header class="clearfix">
				<h1>About Us</h1>
				<h2>The Dixons of Texas</h2>
			</header>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<p>We were born all over the country, but settled in Texas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, dignissim eget mollis et, luctus non lorem. Ut sagittis tellus id lorem laoreet dignissim. Etiam eget sapien faucibus metus efficitur viverra. Donec venenatis arcu vel nulla fermentum, eget porttitor purus mattis. Mauris accumsan et purus eget auctor. Vestibulum dignissim libero quis odio accumsan elementum. Sed sed blandit leo, maximus finibus felis.</p>
					<p>Suspendisse non justo molestie, tempor mauris id, ultricies turpis. Etiam et ex a massa egestas laoreet. Cras rutrum consectetur nunc, sed efficitur augue vulputate eu. Mauris sit amet venenatis nulla, ac aliquam neque. Donec pellentesque est ac lacus iaculis imperdiet. Donec sit amet aliquet arcu, sit amet vulputate odio. Vestibulum vehicula ante ex, vitae mattis nunc accumsan eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce metus ligula, maximus in viverra non, ullamcorper et nisl. Maecenas sed erat tincidunt, accumsan libero ut, blandit ante. In eu sem ac mauris consequat porta nec sed nulla. In mollis lobortis mauris sit amet commodo.</p>
					{{> readMore text="Read More" path="#"}}
				</div>
			</div>
		</div>
	</section>
	
</template>
